.header{
    background-color: $purple;
    padding-bottom: 3rem;
    position: sticky;
    z-index: 90;
    top: 0;
    @include desktop{
        padding-bottom: 2rem;
    }
}

.barra-header{
    @include grid(6, 2rem);
    align-items: center;
    @include desktop {
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    justify-self: center;
    width: 25rem;
    grid-column: 3/5;
    @include tablet{
        flex: 0 0 22rem;
    }
}

.hamburger-menu{
    grid-column: 1/2;
    justify-self: self-start;
}

.search-bar{
    grid-column: 2/5;
    border-radius: 3rem;
    padding: 1rem 2rem;
    border-style: none;
    outline: none;
    transition: .2s ease-in-out;
    @include mobile{
        grid-column: 2/6; 
    }
    @include desktop{
        width: 13vw;
    }
    &:hover{
        background-color: $lavenderPurple;

    }
    &::-webkit-input-placeholder {
        font-weight: $regularFont;
        color:$lavenderPurple;           
    }
    &::-moz-placeholder {
        font-weight: $regularFont;
        color:$lavenderPurple;           
    }
    &::-ms-input-placeholder {
        font-weight: $regularFont;
        color:$lavenderPurple;
    }
    &:hover::-webkit-input-placeholder { 
        color: $thistle;
      }
    &:hover::-moz-placeholder {
        color: $thistle;
      }
    &:hover:-moz-placeholder {
        color: $thistle;
      }
}

.user-cart {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-self: end;
    grid-column: 6/8;
    @include mobile {
        gap: 1rem;
    }
    @include tablet{
        gap: 3rem;
    }
    a{
        color: $white;
        font-size: 3rem;
    }
}

.user {
    #user-icon{
        position: relative;
        transition: .2s ease-in-out;
        font-size: 3rem;
        color: $white;
        cursor: pointer;
        &:hover {
            color: $violet;
        }
    }
}

.shopping-cart {
    position: relative;
    transition: $transitionTime;
    &:hover .items-cart {
        color: $white;
    }
    &:hover .fa-shopping-cart{
        color: $violet;
    }
    .fa-shopping-cart{
        transition: ease-in-out .2s;
        color: $white;
        font-size: 3rem;
    }

    .items-cart{
        color: $violet;
        text-align: center;
        font-size: 1.3rem;
        position: absolute;
        font-weight: $boldFont;
        border-radius: 50%;
        line-height: 1.5;
        top: .2rem;
        right: 0;
        left: .5rem;
        transition: $transitionTime;
    }
}



