.header{
    background-color: $purple;
    padding-bottom: 3rem;
    z-index: 90;
    top: 0;
    @include desktop{
        padding-bottom: 2rem;
    }
}

.barra-header{
    @include grid(6, 2rem);
    align-items: center;
    @include desktop {
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    justify-self: center;
    width: 23rem;
    grid-column: 1/7;
    @include tablet{
        flex: 0 0 22rem;
    }
}

.hamburger-menu{
    grid-column: 1/2;
    justify-self: self-start;
}

.search-bar-container{
    border-radius: 4rem;
    background-color: $white;
    height: 4rem;
    padding: 1rem 1.5rem;
    transition: .2s ease-in-out;
    grid-column: 2/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet{
        grid-column: 2/6; 
    }
    @include desktop{
        margin-right: 1.5rem;
    }
    .search-bar{
        padding: 0;
        border: none;
        background: none;
        outline: none;
        width: 100%;
        transition: .5s ease-in-out;
        color: $grayPlaceHolder;
    }
    .button-search{
        color: $purple;
        background-color: $white;
        border-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.user-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;
    grid-column: 5/7;
    @include tablet{
        grid-column: 6/7;
        gap: 2rem;
    }
    a{
        color: $white;
        font-size: 3rem;
    }
}

.user {
    #user-icon{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        overflow: hidden;
        outline:none;
        position: relative;
        transition: .2s ease-in-out;
        font-size: 3rem;
        color: $white;
        cursor: pointer;
        &:hover {
            color: $violet;
        }
    }
}

.shopping-cart {
    position: relative;
    transition: $transitionTime;
    &:hover .items-cart {
        color: $white;
    }
    &:hover .fa-shopping-cart{
        color: $violet;
    }
    .fa-shopping-cart{
        transition: ease-in-out .2s;
        color: $white;
        font-size: 3rem;
    }

    .items-cart{
        color: $violet;
        text-align: center;
        font-size: 1.3rem;
        position: absolute;
        font-weight: $boldFont;
        border-radius: 50%;
        line-height: 1.5;
        top: .2rem;
        right: 0;
        left: .5rem;
        transition: $transitionTime;
    }
}



