.info-bonus{
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info-box{
        text-align: center;
        margin-bottom: $spacing;
        &:last-of-type{
            margin-bottom: 0;
        }
        @include tablet {
            flex: 0 0 calc(33.3% - 5rem);
            margin-bottom: 0;
        }
        .img-info {
            width: 10rem;
            margin: 0 auto;
        }
        p{
            font-size: 1.5rem;
        }
        h3{
            font-size: 2rem;
            font-weight: $regularFont;
            
        }
        a{
            font-size: 1.4rem;
            opacity: .5;
        }
    }
}