.info-bar {
    margin-bottom: 3rem;
    background-color: $black;
    color: $white;
    font-size: 3.5vw;
    z-index: 999;
    @include mobile{
        font-size: 1.6rem;
    }
    @include desktop{
        margin-bottom: 2rem;
    }
    p{
        margin: 0;
    }
    .info{
        display: flex;
        gap: 1rem;
    }
    
}

.content-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    
    .help {
        a {
            color: $white;
        }
    }

    .location {
        display: none;
        @include desktop{
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}


.social-media{
    .logos{
        display: none;
        @include desktop{
        margin-right: .5rem;
        display: flex;
        gap: 1rem;
        }
    }
    
    .phone-info{
        margin-left: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}

