.info-bar {
    background-color: $black;
    color: $white;
    
    .content-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        font-weight: $boldFont;
        padding: .5rem 0; 
    }
}


.info{
    display: flex;
    gap: 1rem;
    p {
        margin: 0;
        color: $white;
        
    }

    .whats-app{
        &:hover {
            color: $greenWtsApp;
            transition: .2s ease-in-out;
        }
    }
    .facebook{
        &:hover {
            color: $blueFbook;
            transition: .2s ease-in-out;
            
        }
    }
    .map {
        &:hover {
            color: $redMaps;
            transition: .2s ease-in-out;   
        }
    }    

    .fa-whatsapp {
        color: $greenWtsApp;
    }
    .fa-facebook-square{
        color: $blueFbook;
    }
    .fa-map-marker-alt{
        color: $redMaps;
    }
}
