.user {
    position: relative;
}

.login-window {
    box-shadow: 0rem 0rem .3rem #444;
    font-family: $mainFont;
    font-weight: $regularFont;
    padding: 1rem;
    border-radius: .5rem;
    position: absolute;
    top: 5rem;
    right: -4rem;
    width: 25rem;
    height: 15rem;
    background-color: $lavenderPurple;
    color: $white;
    z-index: 1000;
    @include desktop{
        top: 6rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        .button{
            color: $white;
            font-size: 1.6rem;
            background-color: $purple;
            padding: 1rem 3rem;
            border-radius: .5rem;   
            transition: .2s linear;
            &:hover{
                background-color: $white;
                color: $purple;
            }
        }

    }

    .close-button{
        font-size: 2.5rem;
        cursor: pointer;
        position: absolute;
        top: .5rem;
        right: 1rem;
        transition: 0.2s ease-in-out ;
        &:hover{
            color: $purple;
        }
    }
    .text-user {
        font-size: 2rem;
        font-weight: $boldFont;
        text-align: center;
        display: block;
        margin: 0 0 1.5rem 0;
        .name-user{
            display: block;
        }
    }

}
 