.bar-nav{
    .main-nav{
        font-weight: $boldFont;
        position: fixed;
        width: 70%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: transform ease .5s;
        transform: translate(-100%, 0);
        padding: 7rem 0;
        z-index: 200;
        
        @include desktop{
            padding: 3rem 0;
            display: flex;
            transform: translate(0,0);
            position: static;
            transition: none;
            flex-direction: row;
            width: auto;
            justify-content: center;
            gap: $spacing;
        }
        a {
            height: 15vh;
            text-transform: uppercase;
            font-size: 1.6rem;
            color: $white;
            transition: .2s ease-in-out;
            &:hover{
                color: $violet;
            }
            @include desktop{
                height: auto;
            }
        }
        i {
            font-size: 1.3rem;
        }    
    }
}

.bar-nav {

    .main-nav.is-active {
        transform: translate(0, 0);
        -webkit-box-shadow: 10px 0px 23px -12px rgba(0,0,0,0.86);
        -moz-box-shadow: 10px 0px 23px -12px rgba(0,0,0,0.86);
        box-shadow: 10px 0px 23px -12px rgba(0,0,0,0.86);
    
    }
}    