//colors
$white : #fff;
$black : #000;
$purple: #2e005a;
$violet: #F512F1;
$lavenderPurple: #957DAD;
$thistle: #E0BBE4;
$greenWtsApp: #25d366;
$blueFbook: #2C88FF;
$redMaps: #DE432A;

//utilities
$spacing: 5rem;

//media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;



// font styles
$mainFont: 'Poppins', sans-serif;
$lightFont: 300;
$regularFont: 400;
$boldFont: 700;
$blackFont: 900;